<h1>Membership for <%= @club.name %></h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'Home', clubs_url %>