<h1>Club Info</h1>
<p><b>Name:</b><br />
  <%= @club.name %>
</p>
<p><b>Location:</b><br />
  <%= @club.location %>
</p>
<p><b>Description:</b><br />
  <%= @club.description %>
</p>
<br />
<%= link_to 'Back', clubs_url %>